.brandLogo {
    aspect-ratio: auto;
    border-radius: 10px;
    transform: perspective(400px) rotate3d(var(--r,1,-1),0,calc(var(--i,1)*1deg)); /* Adjust transformation */
    -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100% 100%/250% 250%;
    transition: .4s;
    cursor: pointer;
}

.brandLogo:hover{
--i: -20; 
-webkit-mask-position: 0 0;
}

.active{
--i: -20; 
-webkit-mask-position: 0 0;
}