.CartSelected{
    animation: bouncy 1.5s forwards;
    animation-iteration-count: 1;
}

.rollback{
    animation: debounce 1s forwards;
    animation-iteration-count: 1;
}


@media (max-width:767px){
    .CartBoundary{
        display: none;
    }
}

@media (min-width:767px){
    .CartBoundaryMobile{
        display: none;
    }
}

.CartBoundaryMobile{
    position: fixed;
    margin-left: 7%;
    z-index: 9;
}

@keyframes bouncy {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

@keyframes debounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

.neutralCart{
    display: none;
}
.neutralCartMobile{
    display: none;
}

#CartHub{
    position:absolute;
    top: 135px;
}

@media (min-width:767px){
    #CartHub{
        display:none;
    }
}

#ParentPartners{
    display: flex;
    justify-content: center;
}

.HideForNow{
    visibility: hidden;
}

.animatePartnerBrand{
    animation: brands-animation 0.9s ease-in-out; 
}

@keyframes brands-animation {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
