@import url(https://fonts.googleapis.com/css?family=Lato);

@import url(https://fonts.googleapis.com/css?family=OpenSans);

@media (min-width:600px){
  .faq-heading {
    font-family: Lato;   
    font-weight: 400;
    font-size: 20px;
    -webkit-transition: text-indent 0.2s;
    margin-left: 20px;
    color: #333;
    padding: 15px;
  }

  .faq-text {
    font-family: Open Sans;   
    font-weight: 400;
    color: #919191;
    width:95%;
    margin-bottom:30px;
    font-size: 15px;
    margin-left: 36px;
  }
  
  .faq {
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
    background: white;
    border-radius: 4px;
    position: relative;
    border: 1px solid #E1E1E1;
    border-bottom-style: none;
  }
  .faq .faq-arrow {
    width: 15px;
    height: 15px;
    margin-top: -20px;
  }
}

@media (max-width:600px){
  .faq-heading {
    font-family: Lato;   
    font-weight: 400;
    font-size: 15px;
    -webkit-transition: text-indent 0.2s;
    margin-left: 20px;
    color: #333;
  }

  .faq-text {
    font-family: Open Sans;   
    font-weight: 400;
    color: #919191;
    width:95%;
    margin-left: 20px;
    font-size: 12px;
  }
  
  .faq {
    width: 385px;
    margin: 0 auto;
    background: white;
    border-radius: 4px;
    position: relative;
    border: 1px solid #E1E1E1;
  }
  .faq .faq-arrow {
    width: 12px;
    height: 12px;
  }
}

.faq label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding-top:1px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #E1E1E1;
}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faq-arrow {
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgba(0, 0, 0, 0.33);
  border-right: 2px solid rgba(0, 0, 0, 0.33);
  float: right;
  position: relative;
  top: 0px;
  right: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.faq input[type="checkbox"]:checked + label > .faq-arrow {
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.faq input[type="checkbox"]:checked + label {
  display: block;
  background: rgba(255,255,255,255) !important;
  color: #4f7351;
  height: 150px;
  transition: height 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq input[type='checkbox']:not(:checked) + label {
  display: block;
  transition: height 0.8s;
  height: 60px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

::-webkit-scrollbar {
  display: none;
}