.wrapper {
  width: 90%;
  margin: 50px auto;
  border-radius: 7px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
  max-height: 100%;
}

.product-img img {
  width: 80%;
  max-width: 80%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 7px 0 0 7px;
  max-width: 100%;
  max-height: 100%;
}

.product-info {
  width: 50%;
  min-height: 300px;
  border-radius: 0 7px 7px 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Added padding to ensure proper spacing */
}

.product-info-video {
  width: 50%;
  min-height: 300px;
  height: auto;
  border-radius: 0 7px 7px 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Added padding to ensure proper spacing */
}

.product-text {
  padding: 5px;
  width: 100%;
  text-align: left;
}

.product-text h1 {
  margin: 0;
  font-size: 24px;
}

.product-text p {
  margin: 5px 0;
}

@media (min-width:767px){
  .product-text{
    width: 80%;
  }
  .product-text h1 {
    margin: 0;
    font-size: 27px;
  }
};

.product-price-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

.product-price-btn button {
  height: 50px;
  width: 176px;
  margin-left: 16px;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .product-img img {
    width: 85%;
    max-width: 85%;
    height: auto;
    object-fit: cover;
    border-radius: 7px 0 0 7px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }

  .product-info {
    width: 100%;
    border-radius: 7px;
    min-height: 250px;
  }

  .product-text {
    padding: 10px;
    min-height: 250px;
  }
}

@keyframes textReveal {
  from {
    opacity: 0;
    transform: translateY(75%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-reveal {
  animation: textReveal 0.7s;
}

#ProductShowcaseDescription {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
